/.ipynb_checkpoints
/16301180 MOINUL ISLAM
/166577329_1738852999620817_1067953245059576185_n.jpg
/16716362_1085808258208779_7979800470269800489_o (1).jpg
/20210603_222419.jpg
/2021_08_16_17-01-43_pm.pdf
/3D_mri_to_2D_image.ipynb
/476735.jpg
/74398555_1052259338454790_4476644069023416320_n.jpg
/79125962_730409560793486_7652687356947857408_n.jpg
/AIUB
/Alberta cv.pdf
/Anaconda3-2020.11-Windows-x86_64.exe
/appliactionteaching.doc
/Application to AD 1.pdf
/ARITRO ROY ARKO.pdf
/BGC Trust University
/BITHM College of Professionals
/biye.jpeg
/Blog
/BRACU
/bracu student list
/brain tumor detection
/Canadian Uni Bd
/City University
/Coursera Python 3 Programming Specialization
/Cover letter_Moinul_Islam.docx
/current prof pic.jpeg
/CV - University of Maryland.pdf
/CV and Cover letter.pdf
/CV_Moinul_Isalm.pdf
/Dark Slate Gray and Black Photo Grids Dark Mode Organizer  Planner Desktop Wallpaper.png
/data-structures-algorithms-python-master
/Degree_Plan_CSE_Moinul Islam_16301180.pdf
/desktop.ini
/detection_demo-main
/detection_demo-main.zip
/East Delta
/Eastern University
/Employee Information Sheet.docx
/EMPLOYMENT AGREEMENT_MOINUL ISLAM.pdf
/Enosis Solutions
/EoZ23vTXUAMMYno (1).jpg
/formal photo.JPG
/handwritten signature.jpg
/IMG_20200103_104503_588-1-01 (1).jpeg
/IMG_3098-1-01.jpeg
/InceptionV3_covid_(3_class).ipynb
/InceptionV3_covid_2_class.ipynb
/International Journal of Computational Science and Engineering
/IUBAT
/JANNATUL.pdf
/joy krishan thesis code.zip
/Joy_Krishan_Das_CV_.pdf
/lambda-master
/LoR
/LoR_bracu_faculty.pdf
/Manual_CNN_(3_class).ipynb
/Manual_CNN_(4_class) (1).ipynb
/Manual_CNN_(4_class).ipynb
/moin.jpg
/moinshawon
/Moinul Islam ST Certificate.pdf
/Moinul_Isalm_NID.pdf
/Moinul_Islam_Photo.jpg
/MOI_Moinul Islam.PDF
/National Institute of Textile Engineering
/new_nid_form_Moinul_Islam.pdf
/nid and passport doc
/numpy basics.pdf
/NUSRAT SUZANA MOMO.pdf
/offer letter_Moinul.docx
/online_course_certificates
/Passport Size Photo.JPG
/Port City University
/Pre-Thesis-1.docx
/Presidency University
/Primeasia University
/Provisional certificate_Moinul Islam.PDF
/python 3 practice
/Python for everybody
/Reputed University, Sylhet
/SAF
/shoron cover letter.pdf
/SIGMA JAHAN.pdf
/signature.png
/Southeast University
/SQA courses
/Stamford University
/study abroad
/Study plan.jpg
/ST_Certificate_Moinul_Islam.pdf
/SULTANUS SALEHIN.pdf
/UBC cv.pdf
/uc devis.pdf
/USTC University
/Uttara University
/Z. H. Sikder University of Science and Technology, Shariatpur
/~$301180 MOINUL ISLAM CV.docx
/~$esis Chapter 5.docx
/~$FYAT Day Presentation FALL 2019 (2) (1).pptx
/~$inul's Resume 2.docx
/~$Section Based Summary CSE260 Assignment - 1 (Responses).xlsx